<div class="row">
  <div class="col-sm-6 col-sm-offset-1 pokemones">
    <div class="col-xs-1"
      *ngFor="let item of pokemones; let i = index"
      (click)="onSelect(item, i)">
      <img class="pokemon" src={{item.image}} title={{item.name}} [class.selected] = "item === this.pokemon"/>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="pokedex">
      <div *ngIf="pokemon">
        <span class="pokedex-number">
          <h4>{{pokemon.pokedex}}</h4>
        </span>
        <div class="name">
          <h2>{{pokemon.name}}</h2>
        </div>
        <div class="image">
          <img src={{pokemon.image}}/>
        </div>
        <div class="mote">
          <div>
            <div class="pokemon">{{pokemon.mote || pokemon.name}}</div>
          </div>
        </div>
        <div class="kinds">
          <div class="{{(pokemon.kind1 | lowercase) || 'default'}} kind">{{pokemon.kind1}}</div>
          <div class="{{(pokemon.kind2 | lowercase) || 'default'}} kind">{{pokemon.kind2}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
