<div class="row">
  <div class="col-sm-6 col-sm-offset-1 pokemones">
    <div class="col-xs-1" *ngFor="let pokemon of pokemones" (click)="onSelect(pokemon)">
      <img class="pokemon"  src={{pokemon.image}} title={{pokemon.name}}/>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="pokedex">
      <div *ngIf="pokemon">
        <span class="pokedex-number">
          <h4>{{pokemon.pokedex}}</h4>
        </span>
        <div class="name">
          <h2>{{pokemon.name}}</h2>
        </div>
        <div class="image">
          <img src={{pokemon.image}}/>
        </div>
        <div class="mote">
          <div>
            <input class="pokemon" [(ngModel)]="pokemon.mote" placeholder="{{pokemon.name}}"/>
            <!--<h4>Mote: {{pokemon.mote || pokemon.name}}</h4>-->
          </div>
        </div>
        <div class="kinds">
          <span class="label {{pokemon.kind1 | lowercase}}">{{pokemon.kind1}}</span>
          <br/>
          <span class="label {{pokemon.kind2 | lowercase}}">{{pokemon.kind2}}</span>

          <button class="cancel" (click)="cancel()"></button>
          <button class="save" (click)="save()"></button>

        </div>
      </div>
    </div>



  </div>
</div>
