<div class="row">
  <div class="col-sm-7 pokemones">
    <div class="col-sm-1" *ngFor="let pokemon of pokemones">
      <img class="pokemon" (click)="onSelect(pokemon)" src={{pokemon.image}} title={{pokemon.name}}/>
    </div>
  </div>

  <div class="col-sm-5">
    <div *ngIf="pokemon">
      <img style="height: 90px;" src={{pokemon.image}}/>
      <ul class="heroes">
        <li>
          <span class="badge">{{pokemon.pokedex}}</span>{{pokemon.name}}
        </li>
        <li>{{pokemon.kind1}}</li>
        <li>{{pokemon.kind2}}</li>
      </ul>
    </div>
  </div>
</div>
