.pokemones {
  background-image: url("/assets/images/pokeball.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

img.pokemon {
  height: 55px;
  cursor: pointer;
}


/* Pokedex */
.pokedex {
  background-image: url("/assets/images/pokedex.png");
  background-position: center top;
  background-size: 100% 100%;
  width: 100%;
  height: 600px;
  min-width: 420px;
}

.pokedex .pokedex-number {
  font-size: 18px;
  line-height: 85px;
  padding-left: 58px;
}
.pokedex .image {
  text-align: center;
  padding-top: 40px;
}
.pokedex .image img {
  height: 180px;
}
.pokedex .name {
  padding: 143px 45px 0;
  font-size: 18px;
}
.pokedex .kinds {
  padding-left: 150px;
  font-size: 14px;
  padding-top: 20px;
}
