.pokemones {
    background-color: #CFD8DC !important;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
div.pokemon {}
img.pokemon {
  height: 55px;
  cursor: pointer;
}

.pokedex {
  background-image: url("/assets/images/pokedex.png");
  position: absolute;
  top: 0;
  bottom: 0;

}
