.pokemones {
  background-image: url("/assets/images/pokeball.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

img.pokemon {
  height: 55px;
  cursor: pointer;
}


/* Pokedex */
.pokedex {
  background-image: url("/assets/images/pokedex.png");
  background-position: center top;
  background-size: 100% 100%;
  width: 100%;
  height: 600px;
  min-width: 420px;
  max-width: 420px;
}

.pokedex .pokedex-number {
  font-size: 18px;
  line-height: 85px;
  padding-left: 58px;
}
.pokedex .image {
  text-align: center;
  padding-top: 40px;
}
.pokedex .image img {
  height: 180px;
}
.pokedex .name {
  padding: 143px 45px 0;
  font-size: 18px;
}
.pokedex .kinds {
  padding-left: 140px;
  font-size: 18px;
  padding-top: 20px;
}

.planta {
  background-color:  #75dc14;
}

.veneno {
  background-color:  #b011f0;
}

.fuego {
  background-color:  #f01411;
}

.volador {
  background-color:  #b4e6fa;
  color: #0589f6;
}

.agua {
  background-color:  #0068ff;
}

.bicho {
  background-color:  #829933;
}

.normal {
  background-color:  #dccbdb;
}

.eléctrico {
  background-color:  #f1f51c;
  color: #4f4f4f;
}
.tierra {
  background-color:  #7a5300;
}

.hada {
  background-color:  #ff52e2;
}

.lucha {
  background-color:  #565656;
}

.psíquico {
  background-color:  #9e1bbe;
  color: #000000;
}
