/* You can add global styles to this file, and also import other style files */
body {

}
header {
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #FE0000 !important;
}

footer {
  background-color: #FE0000 !important;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  text-align: center;
  line-height: 60px;
  color: #FFF;
}

.pokemones {
  background-image: url("/assets/images/pokeball.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

img.pokemon {
  height: 55px;
  cursor: pointer;
}

/* Pokedex */
.pokedex {
  background-image: url("/assets/images/pokedex.png");
  background-position: center top;
  background-size: 100% 100%;
  width: 100%;
  height: 600px;
  min-width: 420px;
  max-width: 420px;
  position:relative;
}

.pokedex .pokedex-number h4{
  font-size: 18px;
  line-height: 85px;
  padding-left: 58px;
  margin-top: 0;
}
.pokedex .image {
  text-align: center;
  padding-top: 10px;
}
.pokedex .image img {
  height: 160px;
}
.pokedex .name {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: center;
}
.pokedex .mote {
  padding-top: 74px;
  font-size: 18px;
  padding-left: 50px;
}
.pokedex .kinds {
  padding-left: 140px;
  font-size: 14px;
  padding-top: 25px;
  width: 60px;
}
.pokedex .kinds .kind {

  margin-bottom: 10px;

}

.pokedex .kinds input {
  width: 80px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

button.save{
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  bottom: 36px;
  right: 29px;
  border: none;
}

button.cancel{
  width: 31px;
  height: 31px;
  background-color: transparent;
  position: absolute;
  bottom: 81px;
  right: 56px;
  border: none;
}
button.left{
  bottom: 58px;
  left: 35px;
  width: 28px;
  height: 26px;
  background-color: transparent;
  position: absolute;
  border: none;
}
button.right{
  bottom: 58px;
  left: 85px;
  width: 28px;
  height: 26px;
  background-color: transparent;
  position: absolute;
  border: none;
}

button.up{
  bottom: 80px;
  left: 60px;
  width: 28px;
  height: 26px;
  background-color: transparent;
  position: absolute;
  border: none;
}
button.down{
  bottom: 35px;
  left: 60px;
  width: 28px;
  height: 26px;
  background-color: transparent;
  position: absolute;
  border: none;
}

input.pokemon{
  width: 300px;
  background-color: transparent;
  border: none;
}
.selected {
  background-color: gray;
}
